.category-group-card {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991.98px) { /* Pantallas medianas y pequeñas */
  .category-group-card {
    margin: 0;
    padding: 0;
  }

  /* Reducir espacio entre el título y las categorías */
  .category-group-title {
    margin-bottom: 0.25rem; /* Espacio mínimo */
  }

  .category-group-title::after {
    margin: 0.1rem auto 0.1rem; /* Espacio mínimo en el subrayado */
  }

  /* Reducir espacio entre el contenedor de categorías y "Ver todas las categorías" */
  .category-group-card .card-body {
    padding: 0.25rem 0; /* Reducimos el espacio superior e inferior */
  }

  /* Reducir espacio entre filas de categorías */
  .category-col {
    padding: 0.25rem 0; /* Espacio mínimo entre filas */
  }

  /* Reducir espacio para la opción "Ver todas las categorías" */
  .toggle-categories {
    margin-top: 0.25rem; /* Espacio mínimo */
  }
}

.category-group-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px;
}

.category-group-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #3498db;
  margin: 0.5rem auto 1rem;
  border-radius: 2px;
}

.category-col {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
  flex: 1;
}

.category-col:last-child {
  border-right: none;
}

.category-card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem; /* Añadido para mejor espaciado */
}

.category-group-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toggle-categories {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #007bff;
  font-weight: 500;
  transition: color 0.3s;
}

.toggle-categories:hover {
  color: #0056b3;
}

.toggle-icon {
  margin-left: 8px;
  transition: transform 0.3s;
}

.toggle-icon.open {
  transform: rotate(180deg);
}

.categories-scroll-container {
  max-height: 670px; /* Ajusta según la altura deseada */
  overflow-y: auto;
  scrollbar-width: thin; /* Estilo para Firefox */
  -ms-overflow-style: none; /* Estilo para IE y Edge */

  /* Para ocultar el scroll en Webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 8px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }
}
