/* Archivo: CategoryGroup.css */

.category-group-card {
  border: 1px solid #ccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  margin: 0;
  padding: 0;
  height: 100%; /* Aseguramos que el card ocupe toda la altura */
  display: flex;
  flex-direction: column;
}

@media (max-width: 991.98px) { /* Pantallas pequeñas */
  .category-group-card {
    margin-left: -1%; /* Ajusta este valor según necesites */
    margin-right: auto;
  }
}


.category-group-title {
  font-size: 1.5rem; /* Tamaño reducido en un 40-50% */
  font-weight: 600;
  color: #2c3e50; /* Color profesional */
  text-align: center;
  margin-bottom: 1rem;
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.5px; /* Espaciado ligero para un estilo moderno */
}

.category-group-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #3498db; /* Color de acento */
  margin: 0.5rem auto 1rem;
  border-radius: 2px;
}

.category-col {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
  flex: 1; /* Asegura que las columnas ocupen el mismo espacio vertical */
}

.category-col:last-child {
  border-right: none;
}

.category-card-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Aseguramos que el contenido del Card ocupe toda la altura disponible */
.category-group-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
  