/* Archivo: Ecommerce.css */

/* Clase de espaciado reducido para pantallas pequeñas */
.spacing-reduced {
  margin-bottom: 0.35rem; /* 4px en pantallas pequeñas */
}

/* Estilos para el componente Bienvenida */
.bienvenida-card {
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (max-width: 991.98px) { /* Pantallas pequeñas */
  .bienvenida-card {
    margin-left: 1%; /* Ajusta este valor */
    margin-right: auto;
  }
}

@media (min-width: 992px) { /* Pantallas grandes */
  .bienvenida-card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .equal-height-row {
    display: flex;
    align-items: stretch;
  }

  .equal-height-col {
    display: flex;
    flex-direction: column;
  }

  .fill-height {
    flex: 1;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  /* Aseguramos que no haya márgenes en las columnas */
  .mb-lg-0 {
    margin-bottom: 0 !important;
  }

  /* Aseguramos que no haya márgenes adicionales */
  .spacing-bienvenida-masServicios,
  .spacing-categoryGroup-map {
    margin: 0;
  }
}

/* Configuraciones para pantallas pequeñas */
.spacing-bienvenida-masServicios,
.spacing-categoryGroup-map {
  margin-bottom: 0.35rem; /* 4px en pantallas pequeñas */
}

/* Clase para reducir el margen superior del footer en pantallas pequeñas */
.footer-row {
  margin-top: 0.35rem; /* 4px en pantallas pequeñas */
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .footer-row {
    margin-top: 0;
  }
}
