/* Archivo: Ecommerce.css */

/* Clase de espaciado reducido */
.spacing-reduced {
    margin-bottom: 0.35rem; /* Aumentamos el margen inferior a 4px en pantallas pequeñas */
  }
  
  @media (min-width: 992px) {
    .spacing-reduced {
      margin-bottom: 0; /* Elimina el margen inferior en pantallas grandes */
    }
  
    .custom-margin-right {
      margin-right: -5px;
    }
  
    .custom-margin-left {
      margin-left: -45px;
    }
  }
  
  /* Clases específicas para espaciados entre componentes */
  .spacing-bienvenida-masServicios {
    margin-bottom: 0.35rem; /* Aumentamos a 4px */
  }
  
  .spacing-masServicios-categoryGroup {
    margin-bottom: 0.35rem; /* Aumentamos a 4px */
  }
  
  .spacing-categoryGroup-map {
    margin-bottom: 0.35rem; /* Aumentamos a 4px */
  }
  
  @media (min-width: 992px) {
    .spacing-bienvenida-masServicios,
    .spacing-masServicios-categoryGroup,
    .spacing-categoryGroup-map {
      margin-bottom: 0;
    }
  }
  
  /* Clase para reducir el margen superior del footer en pantallas pequeñas */
  .footer-row {
    margin-top: 0.35rem; /* Aumentamos a 4px */
    padding-top: 0;
    padding-bottom: 0;
  }
  
  @media (min-width: 992px) {
    .footer-row {
      margin-top: 0;
    }
  }
  